* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    position: relative;
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    /* Centraliza com margens iguais */
    margin: 0 auto;
    overflow: hidden;
}

.pipe {
    position: absolute;
    width: 15%;
    height: 20%;
    bottom: 0;
    animation: pipe-animation 1.4s infinite;
}

/* Keyframes de animações */
@keyframes pipe-animation {
    from {
        right: -5%;
    }

    to {
        right: 105%;
    }
}