* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    position: relative;
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    /* Centraliza com margens iguais */
    margin: 0 auto;
    overflow: hidden;
}

.pipe {
    position: absolute;
    width: 15%;
    height: 20%;
    bottom: 0;
    animation: pipe-animation 1.2s infinite linear;
}

.mario {
    position: absolute;
    width: 25%;
    height: 25%;
    bottom: 0;
}

.jump {
    animation: jump 800ms ease-out;
}

.game-over{
    position: absolute;
    width: 12%;
    padding: 0;
    margin: 50px;
}

.hidden{
    display: none;
}

/* Keyframes de animações */
@keyframes pipe-animation {
    from {
        right: -15%;
    }

    to {
        right: 105%;
    }
}

@keyframes jump {
    0% {
        bottom: 0%;
    }

    50% {
        bottom: 35%;
    }

    100% {
        bottom: 0%;
    }
}